page-images-modal {
ion-header {
    .toolbar {
      position: absolute;
  
      .toolbar-background {
        background: transparent;
      }
      .toolbar-title {
        color: white;
      }
      .bar-button-default-md{
        color: white;
      }
    }
  }
  .content-md{
    background-color: transparent;
  }

.img-loaded + ion-spinner {
  display:none;
}

.center{
  margin-left: auto;
  margin-right: auto;
  display: block;
}

ion-spinner * {
  stroke: white !important;
  fill: white !important;
}


.swiper-pagination-bullet {
  background: #fff;
}
}
.modal-backdrop-bg {
    background-color: rgba(0, 0, 0, 0.88);
}
.bar-button-default-ios {
  color: #ffffff !important;
}
.btnPrev, .btnNext {
  position: absolute;
  top: 50%;
  bottom: 50%;
  z-index: 999;
}
.modal-bg {
  color: #000;
  background-color: #fff0;
}