page-forgot-password {
    ion-header .toolbar-background,
    .scroll-content {
        background-image: url(/assets/img/screen.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .toolbar-title,
    .bar-button-default-md {
        color: white !important;
    }
    .toolbar {
        background: #ffffff;
    }
    .container-log {
        background: white;
        margin-top: 10%;
        border-radius: 5px;
        padding: 20px;
        margin: 10px;
    }
    .container-log .toolbar-md {
        padding: unset;
        min-height: unset;
    }
    .container-log .login-form {
        margin-top: 10px;
    }
    .container-log .login-form .item {
        margin-bottom: 25px;
    }
    .detail {
        font-weight: 400;
        text-align: center;
    }
    ion-item:first-child {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }
      ion-item:last-child {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }
      ion-item.item {
        background-color: rgba(255, 255, 255, 0.4);
        margin-bottom: 1px;
        .label {
          color: rgba(0, 0, 0, 0.6);
          font-size: 1.2em;
        }
      }
}