<ion-header>
    <ion-navbar no-border-bottom>
        <ion-title>
            Forgot password
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div class="container-log">
        <form [formGroup]="forgotPassFormByMobile" *ngIf="forgotPassWith == 'mobile'" (ngSubmit)="forgotPasswordWithMobile()"
            class="login-form">
            <ion-list>
                <ion-item class="hideBorder" style="margin-bottom: -9px;">
                    <ion-label stacked>Mobile number*</ion-label>
                </ion-item>
                <ion-item margin-bottom>
                    <ion-label fixed><img [src]="currentCountry.code"> {{currentCountry.number}}</ion-label>
                    <ion-input type="tel" formControlName="mobile"></ion-input>
                </ion-item>

                <p class="detail">We will send password on your registered mobile no.</p>
                <div padding>
                    <button [disabled]="!forgotPassFormByMobile.valid" ion-button color="primary" block>Submit</button>
                </div>
            </ion-list>
        </form>

        <form [formGroup]="forgotPassFormByEmail" (ngSubmit)="forgotPasswordWithEmail()" class="login-form" *ngIf="forgotPassWith == 'email'">
            <ion-list>
                <!-- <ion-item class="hideBorder" style="margin-bottom: -9px;">
                    <ion-label stacked> Email*</ion-label>
                </ion-item> -->
                <ion-item margin-bottom>
                    <ion-label stacked>Email*</ion-label>
                    <ion-input type="email" formControlName="email"></ion-input>
                </ion-item>

                <p class="detail">We will send password on your registered email id.</p>
                <div padding>
                    <button [disabled]="!forgotPassFormByEmail.valid" ion-button color="primary" block>Continue</button>
                </div>
            </ion-list>
        </form>
    </div>

</ion-content>