page-hotel-detail {
  
  .sideMenu-login-btn {
    background: #3b3c4d;
}
  .price-info{
    background: #e3e3e3;
    padding: 17px;
    font-size: 1.2rem;
    font-weight: 400;
  }
  .item-cover {
    background: #0000001c;
  }
  .hotel-name {
    margin: 5px 8px;
    font-size: 1.9rem;
    font-weight: bold;
    color: #5a5a5a;
}
  .myOverlay{
    width: 100%;
    position: absolute;
    z-index: 99;
    bottom: 0px;
    opacity: 0.5;
    color: #fff;

}
.review-link{
  color: #0489bc;
  font-weight: 500;
  font-size: 1.4rem;
}
.location-icon{
  font-size: 2em;
  color: #0489bc;
}
.address-text{
  vertical-align: super;
    font-weight: 400;
    color: #5b5b5b;
    margin-left: 5px;
}
  .bar-button-default-md {
    color: #ffffff;
  }
  .hotel-type-card{
    position:relative;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .myCard {
    margin: 0px;
    width: calc(100% - 0px);
    box-shadow: none;
  }
  .scroll-content {
    padding-top: 0px !important;
  }
.custom-toolbar .grid{
    background: #ffffffff;
}
.custom-toolbar .grid .col{
    text-align: center;
    border-left: 1px solid #ececec;
}
.custom-toolbar .grid .col:first-child{
    border-left: none;
}
.custom-toolbar .grid .col p{
    font-size: 11px;
    color: #898989;
 }
.custom-toolbar .grid .col .head{
    color: #0489bc;
   font-weight: 500;
}

img{
    width:100%;
    height:100%;
  }
  
  .myCard{
    position:relative;
  
  }
  .price-detail{
    font-size: 1.1rem;
    vertical-align: middle;
    margin-top: 10%;
    font-weight: bold;
    color: #646464;
  }
  // .myOverlay{
  //     width: 100%;
  //     height: 35px;
  //     position: absolute;
  //     z-index: 99;
  //     bottom: 0px;      
  //     color: #222;
  //     // background: -moz-linear-gradient(to left, #ffffff 25%, #00000099 0%, rgba(226, 226, 226, 0) 56%, #00000070 127%); /* FF3.6-15 */
  //     // background: linear-gradient(to right, #ffffff 25%, #00000099 0%, rgba(226, 226, 226, 0) 56%, #00000070 127%); /* Chrome10-25,Safari5.1-6 */
  //     // background: linear-gradient(to right, #ffffff 25%, #00000099 0%, rgba(226, 226, 226, 0) 56%, #00000070 127%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  //     // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2989d8', endColorstr='#cc1e5799',GradientType=1 ); /* IE6-9 */
  //     // background-image: linear-gradient(to right, black ,transparent,transparent, black);
  // }
  .discount {
    position: absolute;
    left: 24%;
    bottom: 16%;
    background: black;
    padding: 4px;
    color: white;
    font-size: 11px;
  }
  .card-subtitle{
    font-size: 21px;
    margin: 4px 8px;
    font-weight: 800;
  }
  .card-title{
    font-weight: 400;
    text-decoration: line-through;
    margin: 5px 18px;
    font-size: 15px;
  }
  .distance{
    position: absolute;
    text-align: right;
    right: 10px;
    color: white;
    bottom: 20%;
  }
  .photo-length-info {
    position: absolute;
      right: 2px;
      color: #dedede;
      bottom: 2%;
      padding: 10px;
      font-weight: 500;
      font-size: 1.2rem;
  }

  .card-title-main {    
    font-size: 1.7rem;
    font-weight: 900;
    color: #5a5a5a;
    text-transform: capitalize;
  }
  .main-rating ion-icon{
    color: #cfc8a6;
    font-size: 13px;
  }
  .address-card {
        font-size: 1.3rem;
        font-weight: 300;
        margin-top: -8px;
  }
  .roomTypeOverLay{
    width: 100%;
    bottom: 15px;
  }
  .roomTypeOverLay .discount {
    left: 30%;
  }
  .lineHeight-text{
    line-height: 23px;
  }
.forecast_container{
  overflow-x: auto!important;
  overflow-y: hidden;
  word-wrap: break-word;
  height:10vw;
  font-size:0.8em;
  font-weight:300;
}
.forecast_container img{
  max-width: 25px;
  max-height: 25px;
  margin: auto;
}
.forecast_container span{
  font-weight: 500;
  font-size: 1.1rem;
}
.forecast_container .col{
  text-align: left;
    font-weight: 400;
    color: #0d9811;
    padding-top: 3%;
    text-shadow: #d8d8d8 0px 1px 10px;
}
.dateTimeSlot ion-col, .rateSlot ion-col{
  border-radius: 3px;
  -webkit-box-shadow: 2px 2px 8px #cdcdcd;
  box-shadow: 2px 2px 8px #cdcdcd;
  opacity: 0.4;
  background: #f6f6f6;
}
.rateSlot ion-col{
  opacity: 1;
  background: transparent;
  border: 1px solid #d9d9d9;
}
.dateTimeSlot ion-col p, .rateSlot ion-col p{
  font-size: 9px;
  font-weight: 600;
}
.dateTimeSlot ion-col:not(:first-child):not(:last-child){
  margin-left: 5px;
  margin-right: 5px;
  opacity: 1;
}

.rateSlot ion-col:not(:first-child):not(:last-child){
  margin-left: 5px;
  margin-right: 5px;
}
.rateSlot ion-col p:first-child {
  float: left;
}
.rateSlot ion-col p:last-child {
  float: right;
}
.rateSlot ion-col p small{
  font-weight: 100;
}
.stars-outer {
  display: inline-block;
  position: relative;
}
 
.stars-outer.ion-ios-star-outline::before {
  content: "\f4b2 \f4b2 \f4b2 \f4b2 \f4b2";
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0px;
  font-size: 14px !important;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.img-loaded + ion-spinner {
  display:none;
}

.spinner-center-custom{
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.loader-container {
  background: #000000ba;
  padding: 45%;
}
ion-spinner * {
  stroke: white !important;
  fill: white !important;
}

.stars-inner.ion-ios-star::before {
  content: "\f384 \f384 \f384 \f384 \f384";
  color: #f8ce0b;
}

.stars-inner {
  width: 0;
}



/*Chat css*/
.top-arrow {
  display: inline-block;
  position: relative;
  background: #eaeaea;
  padding: 12px;
  margin-left: 10px;
  color: #5d5d5d;
  border-radius: 10px;
  margin-bottom: 4%;
}
.top-arrow:after {
  content: '';
  display: block;
  position: absolute;
  left: -1.3%;
  top: 5%;
  margin-left: 20px;
  margin-top: -23px;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #eaeaea;
}
}
