<ion-header no-border>
  <ion-navbar transparent>
    <ion-buttons start>
      <button ion-button icon-only></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-padding fullscreen>
  <div class="one-item" *ngIf="selectedHotelDetail && !noRecordFound">
    <ion-card class="myCard" (click)="showImagesModal(selectedHotelDetail.customeImageList)" no-padding>
      <img onError="this.src='assets/imgs/no-image-found.png';" src="{{selectedHotelDetail.main_image == null ? 'assets/imgs/no-image-found.png' : imgagePath + selectedHotelDetail.main_image}}"
        (load)="loaded = true" [ngClass]="{'img-loaded':loaded}" [hidden]="!loaded" />
      <div class="loader-container" *ngIf="!loaded">
        <ion-spinner name="bubbles" [ngClass]="{'spinner-center-custom':true}"></ion-spinner>
      </div>

      <div class="photo-length-info">{{selectedHotelDetail.customeImageList.length}} PHOTOS</div>
    </ion-card>
    <ion-card style="margin-top:-10px;" class="myCard">
      <ion-card-header>
        <ion-row>
          <ion-col col>
            <h3 class="card-title-main">{{selectedHotelDetail.hotel_name}}</h3>
            
          </ion-col>
          <!-- <ion-col col-5 style="text-align: right;">
            <a (click)="scrollToId()">Review {{selectedHotelDetail.review_count}}</a>
          </ion-col> -->
        </ion-row>
      </ion-card-header>
      <ion-card-content class="address-card">
        <!-- <ion-icon name="pin" class="location-icon"></ion-icon>  -->                
        <ion-row>
          <ion-col col-3>
              <img (click)="navigateToSearchedHotelOnmapPage()" src="assets/img/map-pin.jpg">                        
          </ion-col>
          <ion-col col-9 text-left>
              <span class="address-text">{{selectedHotelDetail.hotel_address + ', ' + selectedHotelDetail.hotel_city}}</span><br>
              <div class="main-rating">
                  <ion-icon class="stars-outer" name="ios-star-outline">
                    <ion-icon class="stars-inner" name="ios-star" [ngStyle]="{'width': 20 * selectedHotelDetail.hotel_star_category + '%'}"></ion-icon>
                  </ion-icon>&nbsp;&nbsp;&nbsp;
                  <a class="review-link" (click)="scrollToId()">Review {{selectedHotelDetail.review_count}}</a>
                </div>            
          </ion-col>
          </ion-row>
      </ion-card-content>
    </ion-card>
    <hr>
  </div>

  <div class="one-item" *ngIf="selectedHotelRoomType && !noRecordFound">
    <p style="padding: 15px;"><b>{{selectedHotelRoomType.length}} room types (See all rooms)</b> </p>
    <div *ngFor="let room of selectedHotelRoomType">
      <ion-card (click)="showImagesModal(room.roomPhotoList)" class="hotel-type-card">
        <h4 class="lineHeight-text hotel-name" style="text-transform: capitalize">{{room.room_type_name}}</h4>
        <img onError="this.src='assets/imgs/no-image-found.png';" src="{{(room.thumb_image == 0 || !room.thumb_image) ? 'assets/imgs/no-image-found.png' : room.thumb_image}}"
          (load)="loaded = true" [ngClass]="{'img-loaded':loaded}" [hidden]="!loaded" />
        <div class="loader-container" *ngIf="!loaded">
          <ion-spinner name="bubbles" [ngClass]="{'spinner-center-custom':true}"></ion-spinner>
        </div>
        <div class="myOverlay roomTypeOverLay">
          <div class="discount" *ngIf="room.room_type_discount.discount_percen">{{room.room_type_discount.discount_percent}}%
            Off</div>
          <div [ngStyle]="{'color':(room.thumb_image == 0 || !room.thumb_image) ? 'black' : 'white' }" class="photo-length-info"
            *ngIf="room.room_image">{{room.room_image.length}} PHOTOS</div>
        </div>
      </ion-card>
      <ion-card style="margin-top:-10px;" class="myCard" no-border>
        <ion-card-content class="address-card">
          <ion-grid>
            <p>Available facilities</p>
            <ion-row nowrap class="forecast_container">              
              <ion-col col-4 *ngFor="let facility of room.facilities">
                <!-- <img src="assets/img/Bed.png"> 
                <br>-->
                <ion-icon name="checkmark-circle"></ion-icon>
                <span>{{facility}}</span>
              </ion-col>              
            </ion-row>
          </ion-grid>

          <!-- <ion-grid>
            <ion-row nowrap class="dateTimeSlot">
              <ion-col col-4>
                <p>30 Aug 2018 (Thus)</p>
                <hr>
                <p>8:00am to 11:00am</p>
              </ion-col>
              <ion-col col-4>
                <p>30 Aug 2018 (Thus)</p>
                <hr>
                <p>8:00am to 11:00am</p>
              </ion-col>
              <ion-col col-4>
                <p>30 Aug 2018 (Thus)</p>
                <hr>
                <p>8:00am to 11:00am</p>
              </ion-col>
            </ion-row>
          </ion-grid>
          <hr> -->

          <hr>
          <ion-grid>
            <ion-row nowrap>
              <ion-col col-5>
                <ion-item style="padding-left: 5px; background-color: #eaeaea;"> 
                  <ion-label>Room</ion-label>
                  <ion-select [(ngModel)]="room.selectedNoOfRooms" (ionChange)="noOfRoomChange(room)">
                    <ion-option value="{{i+1}}" *ngFor="let in of counter(room.available_room) ;let i = index">{{i+1}}</ion-option>
                  </ion-select>
                </ion-item>
              </ion-col>
              <ion-col col-7 text-right>
                <h5 class="price-detail"><strong>Price per night</strong> &nbsp;&nbsp;<span class="price-info"> RM {{room.price_per_day}}</span></h5>
              </ion-col>
            </ion-row>
          </ion-grid>
          <hr>
          <ion-grid>
            <ion-row nowrap class="rateSlot">
              <ion-col col-4>
                <p>RM {{room.price_per_hour}}
                  <small>{{searchCriteria.check_in_date | date :'dd:MMM'}}</small>
                </p>
                <p>Per Hour</p>
              </ion-col>
              <ion-col col-4>
                <p>RM {{room.price_per_day}}
                  <small>{{searchCriteria.check_in_date | date :'dd:MMM'}}</small>
                </p>
                <p>Per Day</p>
              </ion-col>
              <ion-col col-4>
                <p>RM {{room.totalPriceCalculated}}
                  <small>{{searchCriteria.check_in_date | date :'dd:MMM'}}</small>
                </p>
                <p>Total Price</p>
              </ion-col>
            </ion-row>
          </ion-grid>
          <hr>
          <ion-grid>
            <ion-row>
              <ion-col col>
                <button block ion-button class="sideMenu-login-btn" small (click)="navigateToPaymentsPage(room)">Book
                  now</button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
      <hr>
    </div>
  </div>

  <div id="review">
    <ion-card>
      <ion-item>
        <ion-avatar item-start>
          <img src="https://ionicframework.com/dist/preview-app/www/assets/img/avatar-ts-woody.png">
        </ion-avatar>
        
        <ion-row>
            <ion-col>
              
                <h4><strong>Marty McFly:</strong></h4>
              <p>November 5, 1955</p>
            </ion-col>
            <ion-col text-right>
                <div class="main-rating">
                    <ion-icon class="stars-outer" name="ios-star-outline">
                      <ion-icon class="stars-inner" name="ios-star" [ngStyle]="{'width': 20 * 4 + '%'}"></ion-icon>
                    </ion-icon>
                  </div>
            </ion-col>
        </ion-row>
        <!-- <p>November 5, 1955 <span>
            
        </span></p> -->
      </ion-item>
    
      <ion-card-content>
        <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.</p>
      </ion-card-content>
    
      <ion-row>
        <ion-col>
          <div class="top-arrow">
              <h4><strong>Reply from owner:</strong></h4>
            <p>Tag defines a multi-line text input control.
    A text area can hold an unlimited number of characters, and the text renders in a fixed-width font (usually Courier).
    The size of a text area can be specified by the cols and rows attributes, or even better; through CSS' height and width properties.</p>
            </div>
        </ion-col>
        
      </ion-row>
    
    </ion-card>






    <ion-card>
        <ion-item>
          <ion-avatar item-start>
            <img src="https://ionicframework.com/dist/preview-app/www/assets/img/avatar-ts-woody.png">
          </ion-avatar>
          
          <ion-row>
              <ion-col>
                
                  <h4><strong>Marty McFly:</strong></h4>
                <p>November 5, 1955</p>
              </ion-col>
              <ion-col text-right>
                  <div class="main-rating">
                      <ion-icon class="stars-outer" name="ios-star-outline">
                        <ion-icon class="stars-inner" name="ios-star" [ngStyle]="{'width': 20 * 4 + '%'}"></ion-icon>
                      </ion-icon>
                    </div>
              </ion-col>
          </ion-row>
          <!-- <p>November 5, 1955 <span>
              
          </span></p> -->
        </ion-item>
      
        <ion-card-content>
          <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.</p>
        </ion-card-content>
      
        <ion-row>
          <ion-col>
            <div class="top-arrow">
                <h4><strong>Reply from owner:</strong></h4>
              <p>Tag defines a multi-line text input control.
      A text area can hold an unlimited number of characters, and the text renders in a fixed-width font (usually Courier).
      The size of a text area can be specified by the cols and rows attributes, or even better; through CSS' height and width properties.</p>
              </div>
          </ion-col>
          
        </ion-row>
      
      </ion-card>







  </div>
  <h1 padding *ngIf="noRecordFound"> NO Record Found</h1>
</ion-content>