page-payments {
  .center {
    text-align: center;
  }
  .hotel-img {
    border-radius: 50%;
  }
  .hotel-lable {
    color: #6591E4;
    font-weight: 500;
  }
  .main-rating ion-icon{
    color: #cfc8a6;
    font-size: 13px;
  }
  .hotel-address {
    font-size: 12px;
    font-weight: 500;
    padding: 5px 0px;
  }
  .payment-list {
    font-size: 13px;
    font-weight: 500;
    border: 1px solid #D7D7D7;
    padding: 5px 0px 5px 5px;;
    border-bottom: none;
  }
  .payment-list:last-child {
    border-bottom: 1px solid #D7D7D7;
    background: #F5F5F5;
  }
  .tax-lable {
    font-size: 10px;
    color:#969696;
  }
  .paypal-amount {
    font-size: 23px;
    font-weight: 500;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .paypal-discount-lable {
    font-size: 10px;
    font-weight: 500;
    text-align: center;
    color:#969696;
  }
  .coupon-box {
    padding: 10px;
  }
  .coupon-box input[type=text] {
    padding: 10px;
    height: auto;
    font-size: 1.6rem; 
    font-weight: 400;
    border: 1px solid #E5E5E5;
    float: left;
    width: 80%;
    background: #F5F5F5;
}
.coupon-box button {
    float: left;
    width: 20%;
    padding: 11px;
    background: #3B5999;
    color: white;
    font-size: 1.6rem; 
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

.coupon-box::after {
    content: "";
    clear: both;
    display: table;
}
.stars-outer {
  display: inline-block;
  position: relative;
}
 
.stars-outer.ion-ios-star-outline::before {
  content: "\f4b2 \f4b2 \f4b2 \f4b2 \f4b2";
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0px;
  font-size: 14px !important;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}
.stars-inner.ion-ios-star::before {
  content: "\f384 \f384 \f384 \f384 \f384";
  color: #f8ce0b;
}

.stars-inner {
  width: 0;
}
// }
// @media (min-width: 320px) and (max-width: 480px) {
//    .coupon-box .inputTxt{
//       width: 70%;
//     }
//    .coupon-box .inputBtn {
//       width: 30%;
//     }
// }

.center {
  text-align: center;
}
.room-typelbl {
  padding: 10px;
  background: #FA9D00;
  font-size: 25px;
  font-weight: 500;
  color: #fff;
}
.card-title{
  color: #025fe1;
}
.paid-amount {
  color: #5295FA;
  font-size: 20px;
  font-weight: 500;
}
.payment-wrap {
  margin-top: 50px;
  border-top: 1px solid #BBBBBB;
  border-bottom: 1px solid #BBBBBB;
}
.datelbl {
  padding:10px 15px;
  border-bottom: 1px solid #BBBBBB; 
}
.item > ion-icon:first-child {
  color: #f19d0b;
}
}
