<ion-header no-shadow>
  <ion-navbar>
    <ion-title>Payments</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-bounce class="no-scroll">
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col col-5>
          <img class="hotel-img" onError="this.src='assets/imgs/no-image-found.png';" src="{{bookingDetails.hotelDetails.hotel_image == null ? 'assets/imgs/no-image-found.png' : imgagePath + bookingDetails.hotelDetails.hotel_image}}"
            (load)="loaded = true" [ngClass]="{'img-loaded':loaded}" [hidden]="!loaded" />
          <ion-spinner name="bubbles" [ngClass]="{'spinner-center-custom':true}" *ngIf="!loaded"></ion-spinner>
        </ion-col>
        <ion-col col-7>
          <div class="hotel-name">{{bookingDetails.hotelDetails.hotel_name}}</div>
          <div class="small-lable">{{bookingDetails.hotelDetails.hotel_address}}</div>
          <ion-grid>
            <ion-row class="center">
              <ion-col col-6 class="right-dotted-border">
                <div class="checkin-lbl">CHECK IN</div>
                <div class="date-lbl">{{serverBookingPaymentDetails.check_in_date | date :'dd-MMM-yyyy'}}</div>
                <!-- <div class="date-lbl">{{upcomig.check_in_time | date : 'shortTime'}}</div>-->
                <div class="small-lable">{{ serverBookingPaymentDetails.check_in_date | date : "EEE" }}</div>
              </ion-col>
              <ion-col col-6>
                <div class="checkin-lbl">CHECK OUT</div>
                <div class="date-lbl">{{serverBookingPaymentDetails.check_out_date | date :'dd-MMM-yyyy'}}</div>
                <!-- <div class="date-lbl">{{upcomig.check_out_time | date : 'shortTime'}}</div>-->
                <div class="small-lable">{{ serverBookingPaymentDetails.check_out_date | date : "EEE" }}</div>
              </ion-col>
            </ion-row>
          </ion-grid>                             
        </ion-col>
      </ion-row>
    </ion-grid>


    <ion-row class="center">
        <ion-col>
            <strong class="small-lable">Room type - {{bookingDetails.hotelDetails.room_type_name}}</strong>
        </ion-col>
        <ion-col>
            <strong *ngIf="serverBookingPaymentDetails.booking_type ==2" class="small-lable">
                Booked for {{serverBookingPaymentDetails.no_of_hours}} Hours
            </strong>
            <strong *ngIf="serverBookingPaymentDetails.booking_type !=2" class="small-lable">
                Booked for {{totalNoOfDays}} {{totalNoOfDays > 1 ? 'Days' : 'Day'}}
            </strong>
        </ion-col>
      </ion-row> 



  </ion-card>

  <!-- <ion-card>
    <ion-list>
      <ion-item>
        <ion-icon name="moon" item-start></ion-icon>
        {{totalNoOfDays}} Night
      </ion-item>
      <ion-item>
        <img class="bed" src="assets/img/booking-bed.png" item-start>
        <span style="margin-left: 29px;"></span>{{serverBookingPaymentDetails.no_of_rooms}} Room,
        {{serverBookingPaymentDetails.no_adult}} Adults
      </ion-item>
      <ion-item>
        <ion-icon name="md-people" item-start></ion-icon>
        {{serverBookingPaymentDetails.no_child}} Child (0-6 year)
      </ion-item>
    </ion-list>
  </ion-card> -->


  <ion-card>
    <ion-grid>
      <ion-row class="center">
        <ion-col>
          <ion-list>
            <ion-item>
              <ion-icon name="moon" item-start></ion-icon>
              {{totalNoOfDays}} Night
            </ion-item>
            <ion-item>
              <ion-icon item-start>
                <img class="bed" src="assets/img/booking-bed.png">
              </ion-icon>
              {{serverBookingPaymentDetails.no_of_rooms}} Room,
              {{serverBookingPaymentDetails.no_adult}} Adults
            </ion-item>
            <ion-item>
              <ion-icon name="md-people" item-start></ion-icon>
              {{serverBookingPaymentDetails.no_child}} Child (0-6 year)
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card>
    <ion-grid>
      <ion-row class="payment-list">
        <ion-col col-8>
          <span *ngIf="serverBookingPaymentDetails.booking_type ==2 ">
              Original price (Room {{serverBookingPaymentDetails.no_of_rooms}} X {{serverBookingPaymentDetails.no_of_hours}} Hours)
          </span>
          <span *ngIf="serverBookingPaymentDetails.booking_type !=2 ">
              Original price (Room {{serverBookingPaymentDetails.no_of_rooms}} X {{totalNoOfDays}} Night)
          </span>          
        </ion-col>
        <ion-col col-4>
          {{serverBookingPaymentDetails.total_amount | currency:"RM"}}
        </ion-col>
      </ion-row>
      <ion-row class="payment-list">
        <ion-col col-8>
            <span *ngIf="serverBookingPaymentDetails.booking_type ==2 ">
                Discount (Room {{serverBookingPaymentDetails.no_of_rooms}} X {{serverBookingPaymentDetails.no_of_hours}} Hours)
            </span>
            <span *ngIf="serverBookingPaymentDetails.booking_type !=2 ">
                Discount (Room {{serverBookingPaymentDetails.no_of_rooms}} X {{totalNoOfDays}} Night)
              </span>
          

        </ion-col>
        <ion-col col-4>
          {{serverBookingPaymentDetails.discount_amount | currency:"RM"}}
        </ion-col>
      </ion-row>
      <ion-row class="payment-list">
        <ion-col col-8>
          Booking Fees
        </ion-col>
        <ion-col col-4>
          {{serverBookingPaymentDetails.booking_fee | currency:"RM"}}
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>




  <!-- <div class="coupon-box">
    <input class="inputTxt" type="text" placeholder="Apply coupon here" name="search">
    <button class="inputBtn" type="submit">Apply</button>
  </div> -->

  <ion-card>
    <ion-grid class="total-price-container">
      <ion-row>
        <ion-col col-8>
          Total Price
          <div class="tax-lable">Inclusive all the taxes</div>
        </ion-col>
        <ion-col col-4>
          {{serverBookingPaymentDetails.total_amount | currency:"RM"}}
        </ion-col>
      </ion-row>
      <!--<ion-row>
        <ion-col col-6>
          <img src="assets/img/paypal.jpg" alt="paypal img" height="100">
        </ion-col>
        <ion-col col>
          <div class="paypal-amount">{{serverBookingPaymentDetails.total_amount | currency:"RM"}}</div>
          <div class="paypal-discount-lable">{{serverBookingPaymentDetails.discount_amount}} of total discount</div>
        </ion-col>
      </ion-row> -->
    </ion-grid>
  </ion-card>

  <div style="margin:10px;">
    <button ion-button block (click)="openLoginMOdal()">Book & Pay Now</button>
    <!-- <button ion-button block (click)="navigateToBookingConfirmed()">Book & Pay Now</button> -->
  </div>

</ion-content>