page-dashboard {
  .main-rating h5{
    font-weight: bold;
  }

  .main-rating {
    text-align: right;
  }

  .item-md h2 {
      margin: 2px 0;
      font-size: 2rem;
      font-weight: 500;
      margin-bottom: 10px;
  }
  .toolbar-background {
    background: #0f4187;
    border-color: transparent;
  }
  .toolbar-title {
    color: #fff;
  }
  .slide-zoom {
    height: 100%;
  }
  .slide-image {
    max-height: 40%;
    max-width: 89%;
    margin: 36px 0;
  }
  b {
    font-weight: 400;
  }
  .custom-icon {
    font-size: 25px; 
    color: #fff;
    margin-top: 10px; 
  }
  .dashboard-wrap {
    height: 45px;
    width: 45px;
    top: 0px;
    bottom: 0px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 50%;
    background: #235091;
  }
  .choose-wrap { 
    background: #235091;
    font-size: 12px ; 
    color: #fff;
  }
  .small-white {
    font-size: 12px ; 
    color: #fff;
    padding: 5px;
  }
  .medium-white {
    font-size: 14px ; 
    color: #fff;
  }
  .exmedium-white {
    font-size: 16px ; 
    color: #fff;
  }
  .content {
    background-color: #0f4187;
  }
  .swiper-pagination-bullets {
    bottom: 140px !important;
  }
  .border-left {
    border-bottom-left-radius: 5px; 
    border-top-left-radius: 5px;
  }
  .border-right {
    border-bottom-right-radius: 5px; 
    border-top-right-radius: 5px;
  }
  .checkbox {
    margin: 8px !important;
  }
  .item-checkbox {
    background: transparent;
  }
  .item-inner {
    border-bottom:none !important;
  }
  .checkInlable {
    background: #204a84;
    text-align: center;
    padding: 10px;
    color: #fff;
    font-weight: 200;
  }
  .swiper-container {
    height: 350px;
  }
  .check-wrap {
    padding: 10px;
    background: #0a3778;
    color: #fff;
    font-weight: 200;
  }
  //.no-scroll .scroll-content{
   // overflow-y: hidden;
  //}
  ion-slides {
    height: auto;
  }
  .center {
    text-align: center;
  }
  .search-list {
    position: absolute;
    z-index: 100;
    width: 96%;
    left: 2%;
  }
  .scroll-content, .fixed-content {
    margin-top:80px;
  }
  holtel-img {
    width:100%;
    height:100%;
  }
  .myCard{
    position:relative;
  }
  .myOverlay { 
      width: 100%;
      height: 40px;
      position: absolute;
      z-index: 99;
      bottom: 0px;      
      color: #fff;
      background: -moz-linear-gradient(to left, #ffffff 25%, #00000099 0%, rgba(226, 226, 226, 0) 56%, #00000070 127%); /* FF3.6-15 */
      background: linear-gradient(to right, #ffffff 25%, #00000099 0%, rgba(226, 226, 226, 0) 56%, #00000070 127%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right, #ffffff 25%, #00000099 0%, rgba(226, 226, 226, 0) 56%, #00000070 127%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2989d8', endColorstr='#cc1e5799',GradientType=1 ); /* IE6-9 */
      background-image: linear-gradient(to right, black ,transparent,transparent, black);
    }
  .discount {
    position: absolute;
    left: 24%;
    bottom: 16%;
    background: black;
    padding: 4px;
    color: white;
    font-size: 11px;
  }
  .card-title1 {
    position: absolute;
    left: 10px;
    color: white;
    bottom: 20%;
  }
  .card-subtitle {
    font-size: 25px;
    margin: 0px 8px;
    font-weight: 200;
  }
  .card-title {
    font-weight: 400;
    text-decoration: line-through;
    margin: 5px 18px;
    font-size: 15px;
  }
  .distance {
    position: absolute;
    text-align: right;
    right: 10px;
    color: white;
    bottom: 20%;
  }
  .card-title-main {
    margin: 0px -10px;
    font-size: 1.4rem;
    font-weight: 500;
    color: #545454;
  }
  .main-rating ion-icon{
    //color: #d8aa04;
    font-size: 13px;
  }
  .address-card {
        font-size: 1.3rem;
        font-weight: 300;
        margin-top: -8px;
  }
  .text-center {
    text-align: center;
  }

  .stars-outer {
    display: inline-block;
    position: relative;
  }
   
  .stars-outer.ion-ios-star-outline::before {
    content: "\f4b2 \f4b2 \f4b2 \f4b2 \f4b2";
  }

  .stars-inner {
    position: absolute;
    top: 0;
    left: 0px;
    font-size: 14px !important;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
  }

  .stars-inner.ion-ios-star::before {
    content: "\f384 \f384 \f384 \f384 \f384";
    color: #f8ce0b;
  }

  .stars-inner {
    width: 0;
  }

  .item-cover {
    height: auto;
  }
}
