<ion-header no-shadow>
    <ion-navbar>
        <button ion-button menuToggle style="color:#fff">
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            <img class="hotel-img" src="assets/img/logo1.png" alt="hotel pic" height="65">
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content no-bounce class="no-scroll">
    <ion-searchbar [(ngModel)]="autocompleteInput" (ionInput)="updateSearchResults()" placeholder="Search for a place"></ion-searchbar>

    <ion-list class="search-list" [hidden]="autocompleteItems.length == 0">
        <ion-item *ngFor="let item of autocompleteItems" tappable (click)="selectSearchResult(item)">
            {{ item.description }}
        </ion-item>
    </ion-list>
    <ion-input type="text" [(ngModel)]="autocompleteInput1"></ion-input>
    <ion-grid style="border-bottom: 2px solid #0c346d;">
        <ion-row class="center">
            <ion-col col-3 (click)="getCurrentLatLongAndFindAddress()">
                <div class="dashboard-wrap">
                    <ion-icon name="md-navigate" class="custom-icon"></ion-icon>
                </div>
                <div class="small-white">Near Me</div>
            </ion-col>
            <ion-col col-6>
                <ion-grid (click)="addguestDetails()">
                    <ion-row>
                        <ion-col col-4 class="choose-wrap border-left">
                            <div class="count">{{guestDetails.rooms}}</div>
                            <div class="count-type">Room</div>
                        </ion-col>
                        <ion-col col-4 class="choose-wrap">
                            <div class="count">{{guestDetails.adult}}</div>
                            <div class="count-type">Adult</div>
                        </ion-col>
                        <ion-col col-4 class="choose-wrap border-right">
                            <div class="count">{{guestDetails.children}}</div>
                            <div class="count-type">Child</div>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-col>
            <ion-col col-3 (click)="navigateToGoogleMap()">
                <div class="dashboard-wrap">
                    <ion-icon name="ios-pin" class="custom-icon"></ion-icon>
                </div>
                <div class="small-white">Map</div>
            </ion-col>
        </ion-row>
    </ion-grid>
    <div style="margin: 0 30px;">
        <ion-grid>
            <ion-row>
                <ion-col col-6>
                    <ion-item>
                        <ion-label class="exmedium-white">Day</ion-label>
                        <ion-checkbox color="dark" [(ngModel)]="selectedTypeDay" (ionChange)="change('Day')"></ion-checkbox>
                    </ion-item>
                </ion-col>
                <ion-col col-6>
                    <ion-item>
                        <ion-label class="exmedium-white">Hour</ion-label>
                        <ion-checkbox color="dark" [(ngModel)]="selectedTypeHour" (ionChange)="change('Hour')"></ion-checkbox>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>
        <div class="checkin-day" *ngIf="selectedTypeDay">
            <div class="checkInlable">Check In Date</div>
            <ion-grid class="center" style="padding: 5px 0;">
                <ion-row>
                    <ion-col col-5 class="check-wrap">
                        <div>CHECK IN</div>
                        <!-- <div>{{selectedDates.checkInDate}}</div> -->
                        <ion-datetime displayFormat="YYYY-MM-DD" pickerFormat="YYYY MMMM DD" min="{{selectedDates.checkInMinDate}}" max={{selectedDates.checkInMaxDate}}
                        [(ngModel)]="selectedDates.checkInDate"></ion-datetime>
                    </ion-col>
                    <ion-col col-2></ion-col>
                    <ion-col col-5 class="check-wrap">
                        <div>CHECH OUT</div>
                        <!-- <div>{{selectedDates.checkoutDate}}</div> -->
                        <ion-datetime displayFormat="YYYY-MM-DD" pickerFormat="YYYY MMMM DD" min="{{selectedDates.checkoutMinDate}}" max={{selectedDates.checkoutMaxDate}}
                        [(ngModel)]="selectedDates.checkoutDate"></ion-datetime>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <div class="checkin-hour" *ngIf="selectedTypeHour">
            <div class="checkInlable">Check In Hour</div>
            <div class="check-wrap center" style="margin-top: 5px;">
                <ion-datetime displayFormat="YYYY-MM-DD" pickerFormat="YYYY MMMM DD" min="{{selectedTime.checkInMinDate}}" max={{selectedTime.checkInMaxDate}}
                        [(ngModel)]="selectedTime.checkInDate"></ion-datetime>
                <!-- {{selectedDates.checkInDate}} -->
            </div>
            <ion-grid class="center" style="padding: 5px 0;">
                <ion-row>
                    <ion-col col-5 class="check-wrap">
                        <div>CHECK IN</div>
                        <ion-datetime displayFormat="hh:mm A" [(ngModel)]="selectedTime.checkInTime"></ion-datetime>
                        <!-- <div>{{selectedTime.checkInTime}}</div> -->
                    </ion-col>
                    <ion-col col-2></ion-col>
                    <ion-col col-5 class="check-wrap">
                        <div>CHECH OUT</div>
                        <ion-datetime displayFormat="hh:mm A" [(ngModel)]="selectedTime.checkoutTime"></ion-datetime>
                        <!-- <div>{{selectedTime.checkoutTime}}</div> -->
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <button (click)="navigateToSearchedList()" ion-button block color="light">SEARCH</button>
    </div>
    <ion-slides padding pager="true" dir="{{dir}}" (ionSlideWillChange)="onSlideChangeStart($event)">
        <ion-slide *ngFor="let slide of slides">
                <img class="slide-image" src="{{imgagePath}}{{slide.banner}}" (load)="loaded = true" [ngClass]="{'img-loaded':loaded}" [hidden]="!loaded" />
                <ion-spinner name="bubbles" [ngClass]="{'spinner-center-custom':true}" *ngIf="!loaded"></ion-spinner>

            <!-- <img src="{{imgagePath}}{{slide.banner}}" class="slide-image" /> -->
        </ion-slide>
    </ion-slides>
    <ion-row style="margin-top: -35%;">
        <ion-col text-center>
            <h2 class="toolbar-title">Our Hotels</h2>
            <p class="toolbar-title">The Best Oriental Hotel</p>
            <h4></h4>
        </ion-col>
    </ion-row>

    <div *ngIf="topHotelsLIst.length!=0">
        <div class="one-item" (click)="navigateToHotelDetail(slide)" *ngFor="let slide of topHotelsLIst">
            <ion-card class="myCard">
                <!-- <img class="holtel-img" alt="Image missing" height="250" src="{{imgagePath}}{{slide.image}}" /> -->
                <img class="holtel-img" alt="Image missing" height="250" src="{{imgagePath}}{{slide.image}}" (load)="loaded = true" [ngClass]="{'img-loaded':loaded}" [hidden]="!loaded" />
                <ion-spinner name="bubbles" [ngClass]="{'spinner-center-custom':true}" *ngIf="!loaded"></ion-spinner>
                <div class="myOverlay">
                    <div class="card-title1">RM {{slide.price}}</div>
                    <!-- <div class="distance">5 km</div> -->
                </div>
            </ion-card>
            <ion-card style="margin-top:-10px;">
                <ion-card-header>
                    <ion-row>
                        <ion-col class="col-7">
                            <h3 class="card-title-main">{{slide.hotel_name}}</h3>
                        </ion-col>
                        <ion-col class="col-5">
                            <div class="main-rating">
                                <ion-icon class="stars-outer" name="ios-star-outline">
                                    <ion-icon class="stars-inner" name="ios-star" [ngStyle]="{'width': 20 * slide.rating + '%'}"></ion-icon>
                                </ion-icon>
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-card-header>
                <ion-card-content class="address-card">
                    <ion-icon name="pin"></ion-icon> {{slide.hotel_address + ', ' + slide.hotel_city}}
                </ion-card-content>
            </ion-card>
        </div>
    </div>
    <div class="text-center toolbar-title">
        <p *ngIf="topHotelsLIst.length==0">No result found</p>
    </div>
    <div class="text-center">
        <button (click)="showMoreHotel()" *ngIf="(allTopHotelsList.length > 4) && !showMore" ion-button color="light">
            View More
        </button>
    </div>

</ion-content>