<ion-header no-shadow>
    <ion-navbar>
        <button ion-button menuToggle style="color:#fff">
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            <img class="hotel-img" src="assets/img/logo1.png" alt="hotel pic" height="65">
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content no-bounce class="no-scroll">
    <ion-searchbar [(ngModel)]="autocompleteInput" (ionInput)="updateSearchResults()" placeholder="Search for a place"></ion-searchbar>
    <ion-list class="search-list" [hidden]="autocompleteItems.length == 0">
        <ion-item *ngFor="let item of autocompleteItems" tappable (click)="selectSearchResult(item)">
            {{ item.description }}
        </ion-item>
    </ion-list>

    <ion-grid style="border-bottom: 2px solid #0c346d;">
        <ion-row class="center">
            <ion-col col-3 (click)="getCurrentLatLongAndFindAddress()">
                <div class="dashboard-wrap">
                    <ion-icon name="md-navigate" class="custom-icon"></ion-icon>
                </div>
                <div class="small-white">Near Me</div>
            </ion-col>
            <ion-col col-6>
                <ion-grid (click)="addguestDetails()">
                    <ion-row>
                        <ion-col col-4 class="choose-wrap border-left">
                            <div class="count">{{guestDetails.rooms}}</div>
                            <div class="count-type">Room</div>
                        </ion-col>
                        <ion-col col-4 class="choose-wrap">
                            <div class="count">{{guestDetails.adult}}</div>
                            <div class="count-type">Adult</div>
                        </ion-col>
                        <ion-col col-4 class="choose-wrap border-right">
                            <div class="count">{{guestDetails.children}}</div>
                            <div class="count-type">Child</div>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-col>
            <ion-col col-3 (click)="navigateToGoogleMap()">
                <div class="dashboard-wrap">
                    <ion-icon name="ios-pin" class="custom-icon"></ion-icon>
                </div>
                <div class="small-white">Map</div>
            </ion-col>
        </ion-row>
    </ion-grid>
    <div style="margin: 0 30px;">
        <ion-grid>
            <ion-row>
                <ion-col col-6>
                    <ion-item>
                        <ion-label class="exmedium-white">Day</ion-label>
                        <ion-checkbox color="dark" [(ngModel)]="selectedTypeDay" (ionChange)="change('Day')"></ion-checkbox>
                    </ion-item>
                </ion-col>
                <ion-col col-6>
                    <ion-item>
                        <ion-label class="exmedium-white">Hour</ion-label>
                        <ion-checkbox color="dark" [(ngModel)]="selectedTypeHour" (ionChange)="change('Hour')"></ion-checkbox>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>
        <div class="checkin-day" *ngIf="selectedTypeDay">
            <div class="checkInlable">Check In Date</div>
            <ion-grid class="center" style="padding: 5px 0;">
                <ion-row>
                    <ion-col col-5 class="check-wrap" (click)="openDatePicker('CHECKIN')">
                        <!-- <input name="somedate" type="date" style="background: transparent; border: unset; color: transparent; position: absolute;
                        width: 99%;
                        left: 1%;
                        top: 1%;
                        height: 98%;"> -->
                        <div>CHECK IN</div>
                        <div>{{selectedDates.checkInDate}}</div>
                    </ion-col>
                    <ion-col col-2></ion-col>
                    <ion-col col-5 class="check-wrap" (click)="openDatePicker('CHECKOUT')">
                        <div>CHECH OUT</div>
                        <div>{{selectedDates.checkoutDate}}</div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <div class="checkin-hour" *ngIf="selectedTypeHour">
            <div class="checkInlable">Check In Hour</div>
            <div class="check-wrap center" style="margin-top: 5px;" (click)="openDatePicker('CHECKIN')">{{selectedDates.checkInDate}}</div>
            <ion-grid class="center" style="padding: 5px 0;">
                <ion-row>
                    <ion-col col-5 class="check-wrap" (click)="openTimePicker('CHECKIN')">
                        <div>CHECK IN</div>
                        <div>{{selectedTime.checkInTime}}</div>
                    </ion-col>
                    <ion-col col-2></ion-col>
                    <ion-col col-5 class="check-wrap" (click)="openTimePicker('CHECKOUT')">
                        <div>CHECH OUT</div>
                        <div>{{selectedTime.checkoutTime}}</div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <button (click)="navigateToSearchedList()" ion-button block color="light">SEARCH</button>
    </div>
    <ion-slides padding pager="true" dir="{{dir}}" (ionSlideWillChange)="onSlideChangeStart($event)">
        <ion-slide *ngFor="let slide of slides">
            <img [src]="slide.banner" class="slide-image" />
        </ion-slide>
    </ion-slides>
    <ion-row style="margin-top: -35%;">
        <ion-col text-center>
            <h2 class="toolbar-title">Our Hotels</h2>
            <p class="toolbar-title">The Best Oriental Hotel</p>
            <h4></h4>
        </ion-col>
    </ion-row>

    <!-- <ion-card *ngFor="let slide of topHotelsLIst" padding>
        <ion-item>
            <h2>{{slide.hotel_name}}</h2>
            <p>{{slide.hotel_address + ', ' + slide.hotel_city}}</p>
        </ion-item>

        <img src="http://netmaxims.in/projects/anytimecheckin/image/hotel-1.jpg">

        <ion-card-content>
            <p>{{slide.hotel_description}}</p>
        </ion-card-content>

        <ion-row>
            <ion-col>
                <button ion-button icon-start clear small class="main-rating">
                    <h5>Ratings :- <ion-icon *appTimes="slide.hotel_star_category" name="star"> </ion-icon>
                    </h5>
                </button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <button ion-button icon-start clear small class="main-rating">
                    <h5>Price Per ay :- {{slide.price_per_day}}</h5>
                </button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <button ion-button icon-start clear small class="main-rating">
                    <h5>Price Per Hour :- {{slide.price_per_hour}}</h5>
                </button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <button ion-button color="primary" block>Book Now</button>
            </ion-col>
        </ion-row>
    </ion-card> -->

    <div class="one-item" (click)="navigateToHotelDetail(slide)" *ngFor="let slide of topHotelsLIst">
        <ion-card class="myCard">
            <img class="holtel-img" src="assets/img/a.jpg" />
            <div class="myOverlay">
                <div class="card-title">$1994</div>
                <div class="card-subtitle">${{slide.price_per_day}}</div>
                <div class="discount">50% Off</div>
                <div class="distance">5 km</div>
            </div>
        </ion-card>
        <ion-card style="margin-top:-10px;">
            <ion-card-header>
                <ion-row>
                    <ion-col col-7>
                        <h3 class="card-title-main">{{slide.hotel_name}}</h3>
                    </ion-col>
                    <ion-col col-5>
                        <div class="main-rating">
                            <ion-icon name="star" *appTimes="slide.hotel_star_category"></ion-icon>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-card-header>
            <ion-card-content class="address-card">
                <ion-icon name="pin"></ion-icon> {{slide.hotel_address + ', ' + slide.hotel_city + ', ' +
                slide.hotel_country}}
            </ion-card-content>
        </ion-card>
        <p *ngIf="topHotelsLIst.length==0">No result found</p>
    </div>
    <div class="text-center">
        <button (click)="showMoreHotel()" *ngIf="(allTopHotelsList.length > 4) && !showMore" ion-button color="light">
            View More
        </button>
    </div>

</ion-content>