<ion-header>
  <ion-navbar>
    <ion-title>Sec 10, HBC Faridabad </ion-title>
    <ion-buttons end>   
      <button ion-button icon-only (click)="navigateToSearchedHotelOnmapPage()">
        <!-- <ion-icon name="map"></ion-icon> -->
        <img src="assets/img/Untitled-1.png" style="width: 40px; height: 30px;">
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar class="custom-toolbar">
    <ion-grid>
      <ion-row *ngIf="bookingType">
        <ion-col col-4>
          <p class="head">CHECK IN</p>
          <p>{{searchParam.check_in_date}}</p>
          <p>{{searchParam.check_in_time + 'PM'}}</p>
        </ion-col>
        <ion-col col-4>
          <p class="head">CHECK OUT</p>
          <p>{{searchParam.check_out_date}}</p>
          <p>1:00PM</p>
        </ion-col>
        <ion-col col-4>
          <p class="head">{{searchParam.no_of_rooms}} Room</p>
          <p>
            <ion-icon name="person"></ion-icon>{{searchParam.no_of_adults}} Adult</p>
          <p>
            <ion-icon name="person"></ion-icon> {{searchParam.no_of_childs}} Child</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="one-item" (click)="navigateToHotelDetail(hotel)" *ngFor="let hotel of hotelList">
    <ion-card class="myCard">
      <img src="assets/img/a.jpg" />
      <div class="myOverlay">
        <div class="card-title">$1994</div>
        <div class="card-subtitle">${{hotel.price_per_day}}</div>
        <div class="discount">50% Off</div>
        <div class="distance">5 km</div>
      </div>
    </ion-card>
    <ion-card style="margin-top:-10px;">
      <ion-card-header>
        <ion-row>
          <ion-col col-7>
            <h3 class="card-title-main">{{hotel.hotel_name}}</h3>
          </ion-col>
          <ion-col col-5>
            <div class="main-rating">
              <ion-icon name="star" *appTimes="hotel.hotel_star_category"></ion-icon>
            </div>

          </ion-col>
        </ion-row>

      </ion-card-header>
      <ion-card-content class="address-card">
        <ion-icon name="pin"></ion-icon> {{hotel.hotel_address + ', ' + hotel.hotel_city + ', ' + hotel.hotel_country}}
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>