page-searched-hotel-list {
.custom-toolbar .grid{
    background: #ffffffff;
}
.custom-toolbar .grid .col{
    text-align: center;
    border-left: 1px solid #ececec;
}
.custom-toolbar .grid .col:first-child{
    border-left: none;
}
.custom-toolbar .grid .col p{
    font-size: 11px;
    color: #898989;
 }
.custom-toolbar .grid .col .head{
    color: #0489bc;
   font-weight: 500;
}
  
  .myCard{
    position:relative;
  
  }
  
  .myOverlay{
      width: 100%;
      height: 40px;
      position: absolute;
      z-index: 99;
      bottom: 0px;      
      color: #fff;
      background: -moz-linear-gradient(to left, #ffffff 25%, #00000099 0%, rgba(226, 226, 226, 0) 56%, #00000070 127%); /* FF3.6-15 */
      background: linear-gradient(to right, #ffffff 25%, #00000099 0%, rgba(226, 226, 226, 0) 56%, #00000070 127%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right, #ffffff 25%, #00000099 0%, rgba(226, 226, 226, 0) 56%, #00000070 127%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2989d8', endColorstr='#cc1e5799',GradientType=1 ); /* IE6-9 */
      background-image: linear-gradient(to right, black ,transparent,transparent, black);
  }
  .discount {
    position: absolute;
    left: 24%;
    bottom: 16%;
    background: black;
    padding: 4px;
    color: white;
    font-size: 11px;
  }
  .card-subtitle{
    font-size: 25px;
    margin: 0px 8px;
    font-weight: 200;
  }
  .card-title{
    position: absolute;
    right: 10px;
    color: white;
    bottom: 20%;
  }
  .distance{
    position: absolute;
    right: 10px;
    color: white;
    bottom: 20%;
  }
  .card-title1 {
    position: absolute;
    left:10px;
    color: white;
    bottom: 20%;
  }
  .card-title-main {
    margin: 0px -10px;
    font-size: 1.4rem;
    font-weight: 500;
    color: #545454;
  }
  .main-rating ion-icon{
    color: #cfc8a6;
    font-size: 13px;
  }
  .address-card {
        font-size: 1.3rem;
        font-weight: 300;
        margin-top: -8px;
  }
  .toolbar-title-md {
    font-size: 1.5rem;
  }
  .toolbar-background-md {
    border-color: #b2b2b2;
    background: #ffffff;
}
.not-found {
  background-image: url(../assets/imgs/404-hotel.png);  
  background-position: 49% 65%;
  background-repeat: no-repeat;
  background-size: 150%;
}
.search-again-btn {
  position: absolute;
  bottom: 2%;
  left: 35%;
}

.stars-outer {
  display: inline-block;
  position: relative;
}
 
.stars-outer.ion-ios-star-outline::before {
  content: "\f4b2 \f4b2 \f4b2 \f4b2 \f4b2";
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0px;
  font-size: 14px !important;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.stars-inner.ion-ios-star::before {
  content: "\f384 \f384 \f384 \f384 \f384";
  color: #f8ce0b;
}

.starColor{
  color: #f8ce0b;
}

.stars-inner {
  width: 0;
}

.filterview .item-md {
    padding-left: 0px;
    font-size: 10px;
    color: #000;
    height: 22px;
}

.filterview .checkbox-md .checkbox-icon {
  position: relative;
  width: 12px;
  height: 12px;
  border-width: 1px;
  border-color: #787878;
}

.filterview .item.item-md .checkbox-md {
  margin: 2px 4px;
}

.head{
  font-size: 10px !important;
  margin: 2px 0px;
}

.filterview .item-md.item-block .item-inner {
  border-bottom: none;
  padding-right:0px;
}

.filterview .item-block {
  min-height:auto;
}
  
}
