page-change-password {
    .toolbar-background {
        background: #0f4187;
        border-color: transparent;
      }
      .bar-button-default-md, .toolbar-title{
        color: #fff;
      }    
      .label-md{
        font-size: 2rem;
        font-weight: 700;
      }    
}