<ion-header>
    <ion-navbar>
        <ion-title>Change Password</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <form [formGroup]="changePasswordForm" (ngSubmit)="updateProfile()" class="login-form">
        <ion-list>
            <ion-row *ngIf="false">
                <ion-col text-center>
                    <p style="color:#ec6f6a">validation error</p>
                </ion-col>
            </ion-row>
            <ion-item>
                <ion-label stacked>Current Password</ion-label>
                <ion-input type="text" formControlName="oldpassword" *ngIf="showPasswordText2"></ion-input>
                <ion-input type="password" *ngIf="!showPasswordText2" formControlName="oldpassword"></ion-input>
                <button ion-button clear color="dark" type="button" item-right (click)="showPasswordText2 = !showPasswordText2">
                  <ion-icon name="eye"> </ion-icon>
                </button>
            </ion-item>
            <ion-item>
                <ion-label stacked>New Password</ion-label>
                <ion-input type="text" *ngIf="showPasswordText1" formControlName="newpassword"></ion-input>
                <ion-input type="password" *ngIf="!showPasswordText1" formControlName="newpassword"></ion-input>
                <button ion-button clear color="dark" type="button" item-right (click)="showPasswordText1 = !showPasswordText1">
                  <ion-icon name="eye"> </ion-icon>
                </button>
            </ion-item>
            <ion-item>
                <ion-label stacked>Confirm Password</ion-label>
                <ion-input type="text" *ngIf="showPasswordText" formControlName="confirmpassword"></ion-input>
                <ion-input type="password" *ngIf="!showPasswordText" formControlName="confirmpassword"></ion-input>
                <button ion-button clear color="dark" type="button" item-right (click)="showPasswordText = !showPasswordText">
                  <ion-icon name="eye"> </ion-icon>
                </button>
            </ion-item>

            <div padding>
                <button [disabled]="!changePasswordForm.valid" ion-button color="primary" block>Submit</button>
            </div>
        </ion-list>
    </form>

</ion-content>