// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.sideMenu-login-btn {
    background: #0b4eac;
    border-radius: 5px;
    text-transform: capitalize;
    margin-top: 10px;
}
.sideMenu-register-btn{
    border-radius: 5px;
    text-transform: capitalize;
    border-width: 1.5px;
    border-style: solid;
    border-color: #0b4eac;
    color: #0b4eac;
    margin-top: 13px;
}
.sideMenu-text {
    color: #1c1c1c;
    font-weight: 500;
    margin: 5px;
    font-size: 17px;
}
ion-menu ion-header{
    // display: contents;    
}
ion-menu ion-header .toolbar-background-md {
    background: white;
}
.menu-item {
    color: #0e3f7e;
    font-weight: 500;
}
