// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.sideMenu-login-btn {
    background: #0b4eac;
    border-radius: 5px;
    text-transform: capitalize;
    margin-top: 10px;
}
.sideMenu-register-btn{
    border-radius: 5px;
    text-transform: capitalize;
    border-width: 1.5px;
    border-style: solid;
    border-color: #0b4eac;
    color: #0b4eac;
    margin-top: 13px;
}
.sideMenu-text {
    color: #1c1c1c;
    font-weight: 500;
    margin: 5px;
    font-size: 17px;
}  

ion-menu ion-header .toolbar-background-md {
    background: white;
}

ion-menu {
    .toolbar-content-md {
        height: 69.8px;
      }
    
      .title-md {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        text-align: center;
      }
}

.menu-item {
    color: #0e3f7e;
    font-weight: 500;
}

  @media (max-width: 320px) {
    .smallSreeenFont .datetime-text{
              font-size: 1rem;
            }
            .coupon-box .inputTxt{
                width: 70% !important;
              }
            .coupon-box .inputBtn {
                width: 29% !important;
              }
              .toolbar-title-ios{
                  font-size: 12px;
              }
              .select-ios{
                  font-size: 10px;
              }
              .button-block {
                width: 81%;
                //margin-left: 27%;   
                margin: 5px auto;             
            }
            .label-ios {
                margin: 3px 0px 11px 0;
                font-size: 10px;
            }
            .forecast_container .col {
                -webkit-box-flex: 0;
                -webkit-flex: 0 0 30% !important;
                -ms-flex: 0 0 30% !important;
                flex: 0 0 30% !important;
                max-width: 30%;
            }
            .faceBookBtn{
                width: 101%;
                margin-left: auto;
            }
            h5 {
                font-size: 1rem;
            }
 }

.main-header .toolbar-ios {
    min-height: 75px;
}
.main-header .toolbar-ios ion-title {
    padding: 0 45px 1px;
        width: auto;
}
.ion-content {
    top:31px;
}
.side-menu .header-ios .toolbar-ios {
    height: 80px;
  }
.side-menu .content-ios {
    top:0px;
}
