<ion-header no-shadow>
  <ion-navbar>
    <button ion-button menuToggle style="color:#fff">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My Bookings</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-bounce class="no-scroll">
  <ion-segment [(ngModel)]="bookingOptionsModel" color="positive">
    <ion-segment-button value="Upcoming" (click)="getUpcomingBookingDetails()">
      <span class="text">Upcoming</span>
    </ion-segment-button>
    <ion-segment-button value="Completed" (click)="getCompletedBookingDetails()">
      <span class="text">Completed</span>
    </ion-segment-button>
    <ion-segment-button value="Cancelled" (click)="getCancelledBookingDetails()">
      <span class="text">Cancelled</span>
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="bookingOptionsModel">
    <div *ngSwitchCase="'Upcoming'">
      <ion-card *ngFor="let upcomig of upcomingBookingDetail">        
          <ion-grid>
            <ion-row>
              <ion-col col-5>                                              
                  <img class="hotel-img" onError="this.src='assets/imgs/no-image-found.png';" src="{{upcomig.hotel_image_thumb == null ? 'assets/imgs/no-image-found.png' : imgagePath + upcomig.hotel_image_thumb}}"
                  (load)="loaded = true" [ngClass]="{'img-loaded':loaded}" [hidden]="!loaded" />
                <ion-spinner name="bubbles" [ngClass]="{'spinner-center-custom':true}" *ngIf="!loaded"></ion-spinner>
              </ion-col>
              <ion-col col-7>
                <div class="hotel-name">{{upcomig.hotel_name}}</div>
                <div class="small-lable">Booking ID: {{upcomig.booking_id}}</div>
                <ion-grid>
                  <ion-row class="center">
                    <ion-col col-6 class="right-dotted-border">
                      <div class="checkin-lbl">CHECK IN</div>
                      <div class="date-lbl">{{upcomig.check_in_date | date :'mediumDate'}}</div>
                      <div class="date-lbl">{{upcomig.check_in_time | date : 'shortTime'}}</div>
                      <div class="small-lable">{{ upcomig.check_in_date | date : "EEE" }}</div>
                    </ion-col>
                    <ion-col col-6>
                      <div class="checkin-lbl">CHECK OUT</div>
                      <div class="date-lbl">{{upcomig.check_out_date | date :'mediumDate'}}</div>
                      <div class="date-lbl">{{upcomig.check_out_time | date : 'shortTime'}}</div>
                      <div class="small-lable">{{ upcomig.check_out_date | date : "EEE" }}</div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
                <p class="small-lable">{{upcomig.room_type_name}}</p>
              </ion-col>
            </ion-row>
          </ion-grid>
          <div class="btn-wrap" *ngIf="upcomig.user_can_cancel=='true' ? true : false">
            <!-- <button [disabled]="upcomig.user_can_comment" (click)="navigateToBookingCancelled(upcomig)" ion-button block color="dark">Cancel Booking</button> -->
            <button (click)="navigateToBookingCancelled(upcomig)" ion-button block color="dark">Cancel Booking</button>
          </div>
          <!-- <ion-item>
              <button ion-button icon-start clear item-start>
                  <ion-icon name="md-clipboard"></ion-icon>
                  View detail
                </button>              
              <button (click)="navigateToBookingCancelled(upcomig)" ion-button icon-start clear item-end color="danger">
                <ion-icon name="md-remove-circle"></ion-icon>
                Cancel Booking
              </button>
            </ion-item>         -->
      </ion-card>

        <!-- <ion-grid>
          <ion-row>
            <ion-col col-5>
              <img src="assets/img/books.jpg" alt="books-pic">
            </ion-col>
            <ion-col col-7>
              <div class="hotel-name">Sogor Dormitory</div>
              <div class="small-lable">Booking ID:84234243</div>
              <ion-grid>
                <ion-row class="center">
                  <ion-col col-6 class="right-dotted-border">
                    <div class="checkin-lbl">CHECK IN</div>
                    <div class="date-lbl">31 Aug 2018</div>
                    <div class="date-lbl">02:30 PM</div>
                    <div class="small-lable">Saturday</div>
                  </ion-col>
                  <ion-col col-6>
                    <div class="checkin-lbl">CHECK OUT</div>
                    <div class="date-lbl">31 Aug 2018</div>
                     <div class="date-lbl">04:30 PM</div> 
                    <div class="small-lable">Saturday</div>
                  </ion-col>
                </ion-row>
              </ion-grid>
              <p class="small-lable">Exicutive Room</p>
            </ion-col>
          </ion-row>
        </ion-grid>
        <div class="btn-wrap">
          <button (click)="navigateToBookingCancelled()" ion-button block disabled color="dark">Booking Cancelled</button>
        </div> -->
      
    </div>

    <div *ngSwitchCase="'Completed'">
        <ion-card *ngFor="let completed of completedBookingDetail">        
            <ion-grid>
              <ion-row>
                <ion-col col-5>                                              
                    <img class="hotel-img" onError="this.src='assets/imgs/no-image-found.png';" src="{{completed.hotel_image_thumb == null ? 'assets/imgs/no-image-found.png' : imgagePath + completed.hotel_image_thumb}}"
                    (load)="loaded = true" [ngClass]="{'img-loaded':loaded}" [hidden]="!loaded" />
                  <ion-spinner name="bubbles" [ngClass]="{'spinner-center-custom':true}" *ngIf="!loaded"></ion-spinner>
                </ion-col>
                <ion-col col-7>
                  <div class="hotel-name">{{completed.hotel_name}}</div>
                  <div class="small-lable">Booking ID: {{completed.booking_id}}</div>
                  <ion-grid>
                    <ion-row class="center">
                      <ion-col col-6 class="right-dotted-border">
                        <div class="checkin-lbl">CHECK IN</div>
                        <div class="date-lbl">{{completed.check_in_date | date :'mediumDate'}}</div>
                        <div class="date-lbl">{{completed.check_in_time | date : 'shortTime'}}</div>
                        <div class="small-lable">{{ completed.check_in_date | date : "EEE" }}</div>
                      </ion-col>
                      <ion-col col-6>
                        <div class="checkin-lbl">CHECK OUT</div>
                        <div class="date-lbl">{{completed.check_out_date | date :'mediumDate'}}</div>
                        <div class="date-lbl">{{completed.check_out_time | date : 'shortTime'}}</div>
                        <div class="small-lable">{{ completed.check_out_date | date : "EEE" }}</div>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                  <p class="small-lable">{{completed.room_type_name}}</p>
                </ion-col>
              </ion-row>
            </ion-grid>
            <div class="btn-wrap" *ngIf="completed.user_can_comment=='true' ? true : false">
              <!-- <button [disabled]="completed.user_can_comment" (click)="openCommentBox(completed)" ion-button block color="dark">Write comment</button> -->
              <button ion-button block color="dark" (click)="openCommentBox(completed)">Write comment</button>
            </div>
            <!-- <ion-item>
                <button ion-button icon-start clear item-start>
                    <ion-icon name="md-clipboard"></ion-icon>
                    View detail
                  </button>                              
              </ion-item>         -->
        </ion-card>
    </div>

    <div *ngSwitchCase="'Cancelled'">
      <ion-card *ngFor="let cancel of cancelledBookingDetail">
        <div >
          <ion-grid>
            <ion-row>
              <ion-col col-5>
                  <img class="hotel-img" onError="this.src='assets/imgs/no-image-found.png';" src="{{cancel.hotel_image_thumb == null ? 'assets/imgs/no-image-found.png' : imgagePath + cancel.hotel_image_thumb}}"
                    (load)="loaded = true" [ngClass]="{'img-loaded':loaded}" [hidden]="!loaded" />
                  <ion-spinner name="bubbles" [ngClass]="{'spinner-center-custom':true}" *ngIf="!loaded"></ion-spinner>
              </ion-col>
              <ion-col col-7>
                <div class="hotel-name">{{cancel.hotel_name}}</div>
                <div class="small-lable">Booking ID: {{cancel.booking_id}}</div>
                <ion-grid>
                  <ion-row class="center">
                    <ion-col col-6 class="right-dotted-border">
                      <div class="checkin-lbl">CHECK IN</div>
                      <div class="date-lbl">{{cancel.check_in_date | date :'mediumDate'}}</div>
                      <div class="date-lbl">{{cancel.check_in_time | date : 'shortTime'}}</div>
                      <div class="small-lable">{{ cancel.check_in_date | date : "EEE" }}</div>
                    </ion-col>
                    <ion-col col-6>
                      <div class="checkin-lbl">CHECK OUT</div>
                      <div class="date-lbl">{{cancel.check_out_date | date :'mediumDate'}}</div>
                      <div class="date-lbl">{{cancel.check_out_time | date : 'shortTime'}}</div>
                      <div class="small-lable">{{ cancel.check_out_date | date : "EEE" }}</div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
                <p class="small-lable">{{cancel.room_type_id}}</p>
              </ion-col>
            </ion-row>

          </ion-grid>

          <ion-grid>
            <ion-row class="progressbar center">
              <ion-col col-4 [ngClass]="{'running-steps': (cancel.Cancellation_status.Cancelled == 'true' ? true : false)}">
                <div class="step-strips"></div>
                <div class="progress-step">1</div>
                <div class="small-lable">Cancelled</div>
              </ion-col>
              <ion-col col-4 [ngClass]="{'running-steps': (cancel.Cancellation_status.Inprogress == 'true' ? true : false)}">
                <div class="step-strips"></div>
                <div class="progress-step">2</div>
                <div class="small-lable">In progress</div>
              </ion-col>
              <ion-col col-4 [ngClass]="{'running-steps': (cancel.Cancellation_status.Confirmed == 'true' ? true : false)}">
                <div class="progress-step">3</div>
                <div class="small-lable">Confirmed</div>
              </ion-col>
            </ion-row>

          </ion-grid>

          <div class="btn-wrap" *ngIf="cancel.user_can_comment=='true' ? true : false">
            <button ion-button block color="dark" (click)="openCommentBox(cancel)">write a Comment</button>
          </div>
        </div>
      </ion-card>

        <!-- <ion-grid>
          <ion-row>
            <ion-col col-5>
              <img src="assets/img/books.jpg" alt="books-pic">
            </ion-col>
            <ion-col col-7>
              <div class="hotel-name">Sogor Dormitory</div>
              <div class="small-lable">Booking ID:84234243</div>
              <ion-grid>
                <ion-row class="center">
                  <ion-col col-6 class="right-dotted-border">
                    <div class="checkin-lbl">CHECK IN</div>
                    <div class="date-lbl">31 Aug 2018</div>
                    <div class="small-lable">Saturday</div>
                  </ion-col>
                  <ion-col col-6>
                    <div class="checkin-lbl">CHECK OUT</div>
                    <div class="date-lbl">31 Aug 2018</div>
                    <div class="small-lable">Saturday</div>
                  </ion-col>
                </ion-row>
              </ion-grid>
              <p class="small-lable">Exicutive Room</p>
            </ion-col>
          </ion-row>
        </ion-grid>

        <div class="btn-wrap">
          <button ion-button block color="dark">write a Comment</button>
        </div> -->
        <!-- <div class="main-rating">
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
        </div>
        <ion-item>
          <ion-textarea [(ngModel)]="comments" placeholder="Add comments"></ion-textarea>
        </ion-item>
        <div class="btn-wrap right">
          <button (click)="comments()" ion-button small color="dark">Submit</button>
        </div> -->

      
    </div>
  </div>

</ion-content>