page-my-bookings {
  .toolbar-background {
    background: #0f4187;
    border-color: transparent;
  }
  .toolbar-title {
    color: #fff;
  }
  .center {
    text-align: center;
  }
  .right {
    text-align: right;
  }
  .hotel-name {
    font-size: 16px;
    font-weight: 500;
    padding: 5px 15px;
    text-transform: capitalize;
  }
  .segment-md .segment-button {
    padding: unset;
    color: #39a7d1;
    height: unset;
    margin: 8px 5px;
    border: none;
    border-right: 1px dotted #656565;
  }
  .segment-md .segment-button:last-child {
    border: none;
  }
  .segment-md .segment-button .text {
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: 10px;
  }
  .segment-md .segment-button.segment-activated {
    border-color: #bababa;
    opacity: 1;
    color: #000;
  }
  .small-lable {
    font-size: 10px;
    padding-left: 15px;
    color: #969696;
  }
  .checkin-lbl {
    font-size: 13px;
    padding: 2px;
    color: #33abd0;
    font-weight: 500;
    text-transform: uppercase;
  }
  .date-lbl {
    font-size: 11px;
    padding-left: 5px;
    padding: 2px;
  }
  .right-dotted-border {
    border: none;
    border-right: 1px dotted #656565;
  }
  .btn-wrap {
    margin: 10px 5px;
  }
  .progress-step {
    height: 30px;
    width: 30px;
    background: #a0a0a2;
    color: #fff;
    border-radius: 50%;
    padding-top: 7px;
    top: 0px;
    bottom: 0px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .step-strips {
    width: 72%;
    border: 2px solid darkgrey;
    position: absolute;
    left: 64%;
    top: 18px;
  }
  .running-steps .progress-step {
    background: #5392f9;
  }
  .running-steps .small-lable {
    color: #5392f9;
  }
  .main-rating {
    font-size: 15px;
    padding: 10px 15px;
  }

  .img-loaded + ion-spinner {
    display: none;
  }

  .spinner-center-custom {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .bar-button-default-md,
  .bar-button-clear-md-default,
  .bar-button-md-default {
    color: #ffffff;
  }
  ion-card img {
    height: 11.6rem;
  }
}
