page-otp-verification {
    ion-header .toolbar-background,
    .scroll-content {
        background-image: url(/assets/img/screen.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .toolbar-title,
    .bar-button-default-md {
        color: white !important;
    }
    .toolbar {
        background: #ffffff;
    }
    .container-log {
        background: white;
        margin-top: 10%;
        border-radius: 5px;
        padding: 20px;
        margin: 10px;
    }
    .container-log .toolbar-md {
        padding: unset;
        min-height: unset;
    }
    .container-log .login-form {
        margin-top: 10px;
    }
    .container-log .login-form .item {
        margin-bottom: 25px;
    }
    .detail {
        font-weight: 400;
        text-align: center;
        font-size: 13px;
    }
    .container-log ion-input {
        border-bottom: 1px solid #222;
    }
    .otp {
        width: 35px;
        text-align: center;
        float: left;
        margin-right: 10px;
        outline: none;
        height: 30px;
        font-size: 16px;
        border-width: 0px;
        border: none;
        border-bottom: 1px solid #ccc;
      }
}